body {
  position: relative;
  padding-top: 90px;
  background-color: #fff;
  background-image: url(/img/grid-18px-masked.png);
  background-repeat: repeat-x;
  background-position: 0 40px;
}

footer {
  padding-top: 20px;
}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.day h2 {
  font-size: 18px;
  text-align: right;
}

.feed-item {
  border-bottom: 2px black solid;
  margin-bottom: 18px;
}

.itemdescription {
  margin-top: 12px;
  margin-bottom: 12px;
}

.pages {
  margin-top: 10px;
  margin-bottom: 10px;
}